<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Customer</h3>
    </div>
    <div class="panel-body">
      <div class="form-inputs">
        <% url = request.path_info %>
        <% if url.include?('new_customer_order_form') %>
          <%= render 'forms/customer/customer_fields', :f => f %>
        <% else %>
          <%= render 'forms/customer/existing_customer_fields', :f => f %>
        <% end %>
      </div>
    </div>
  </div>
</div>
