<div class="nested-fields">
  <div class="row">
    <div class="col-sm-4">
      <%= f.input :quantity %>
    </div>
    <div class="col-sm-4">
      <%= f.association :stock_type_component, input_html: { class: "stock_type_component_selectpicker", "data-live-search":"true"}, label_method: :label%>
    </div>
    <div class="col-sm-4">
      <%= link_to_remove_association 'Remove Order Item', f, class: "btn btn-default btn form-button dropbutton" %>
    </div>
  </div>
</div>
<script type="text/javascript">

</script>
